body {
    font-family: "Bai Jamjuree", sans-serif;
    line-height: 1.6;
}

button a{
    text-decoration: none !important;
    color: white !important;
}


#first-section {
    background-image: url('images/bg-header-desktop.png');
    background-size: cover;
    margin-bottom: 200px;
    padding-top: 80px;
}

#first-section img {
    height: 150px;
    padding-bottom: 30px;
}

#first-section p:nth-child(2) {
    font-size: 38px;
    font-weight: 500;
    text-transform: capitalize;
}

#first-section p:nth-child(3) {
    font-size: 20px;
    font-weight: 300;
}

#first-section button {
    border-radius: 50px;
    margin: 0px 10px;
    margin-top: 40px;
    font-size: 18px;
    padding: 5px 40px;
}

#flex-second-section {
    column-gap: 70px;
}

#second-section p:nth-child(1) {
    font-size: 38px;
    font-weight: 500;
    text-transform: capitalize;
}

#second-section p:nth-child(2) {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 100px;
}

#flex-second-section img {
    margin-left: -100px;
    height: 550px;
    width: 55%;
}

#flex-second-section .quick {
    width: 100%;
}

#flex-second-section .quick .p {
    font-weight: 650;
    text-transform: capitalize;
    font-size: 25px;
}

#flex-second-section .quick .p-p {
    font-size: 16px;
    padding-bottom: 10px;
}

.third-section p:nth-child(1) {
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
}

.third-section p:nth-child(2) {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 100px;
}

.third-section p:nth-child(4) {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;
}

.third-section p:nth-child(5) {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 100px;
}

.third-section img {
    width: 50%;
}

.fourth-section {
    margin-bottom: 89px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fourth-section .gri p:nth-child(2) {
    font-size: 20px;
    font-weight: 550;
}

.fourth-section .gri p:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
}

.fourth-section .gri {
    width: 100%;
}

.fourth-section .gri img {
    /* width: 20%; */
    /* height: 55px; */
    padding-bottom: 20px;
}

.fifth-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 90px;
    margin-bottom: 89px;
}

.fifth-section img {
    width: 100%;
}

.sixth-section {
    margin-bottom: 99px;
}

.sixth-section p:nth-child(1) {
    font-size: 30px;
    font-weight: 500;
}

.sixth-section p:nth-child(2) {
    font-size: 18px;
    font-weight: 300;
}

.sixth-section button {
    border-radius: 50px;
    margin: 0px 10px;
    margin-top: 40px;
    font-size: 18px;
    padding: 5px 40px;
}

a {
    color: black;
}

.but {
    border-radius: 50px;
    margin: 0px 10px;
    margin-top: 40px;
    font-size: 18px;
    padding: 5px 40px;
}

.sixth-section .butt {
    border-radius: 0px;
    margin: 0px 10px;
    margin-top: 40px;
    font-size: 20px;
}

.sixth-section .butt button {
    padding: 20px 60px;
}

.footer .footer-marg {
    margin-right: 80px;
}

.footer img {
    height: 40px;
    padding-right: 200px;
    padding-left: 100px;
}

.footer-social {
    width: 20%;
}

.footer-social img {
    height: 30px;
    padding: 5px;
}


.attribution {
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:780px) {
    .but {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #first-section p:nth-child(2) {
        font-size: 65px;
        padding: 0px 20px;
        font-weight: 500;
        text-transform: capitalize;
    }

    #first-section p:nth-child(3) {
        font-size: 20px;
        font-weight: 300;
    }

    #first-section button {
        width: 100%;
        font-size: 20px;
        padding: 20px 90px;
    }

    #second-section p:nth-child(1) {
        font-size: 65px;
        font-weight: 500;
        text-transform: capitalize;
    }

    #second-section p:nth-child(2) {
        font-size: 23px;
        padding: 0px 50px;
        font-weight: 300;
        padding-bottom: 100px;
    }


    #flex-second-section {
        display: block !important;
        width: 100%;
    }

    #flex-second-section img {
        margin: 0px auto;
        width: 80%;
    }

    #flex-second-section .quick p {
        text-align: center !important;
    }

    #flex-second-section .quick .p {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 45px;
    }

    #flex-second-section .quick .p-p {
        font-size: 25px;
        padding-bottom: 60px;
    }

    .third-section p:nth-child(1) {
        font-size: 60px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .third-section p:nth-child(2) {
        font-size: 24px;
        font-weight: 300;
        width: 70%;
        padding: 0px 100px;
        padding-bottom: 100px;
    }

    .third-section p:nth-child(4) {
        font-size: 65px;
        text-transform: capitalize;
        font-weight: 500;
    }

    .third-section p:nth-child(5) {
        font-size: 30px;
        font-weight: 300;
        width: 70%;
        padding-bottom: 250px;
    }

    .third-section img {
        width: 90%;
        height: 70vh;
        padding-bottom: 200px;
    }

    .fourth-section {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 80px;
        margin-bottom: 300px;
    }

    .fourth-section .gri p:nth-child(2) {
        font-size: 39px;
        font-weight: 550;
    }

    .fourth-section .gri p:nth-child(3) {
        font-size: 16px;
        font-weight: 300;
    }

    .fourth-section .gri img {
        padding-bottom: 30px;
        width: 15%;
    }

    .fourth-section .gri p:nth-child(2) {
        font-size: 55px;
        font-weight: 550;
    }

    .fourth-section .gri p:nth-child(3) {
        font-size: 30px;
        font-weight: 300;
    }


    .fifth-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-bottom: 300px;
    }

    .fifth-section img {
        width: 60%;
    }

    .sixth-section p:nth-child(1) {
        font-size: 60px;
        font-weight: 500;
    }

    .sixth-section p:nth-child(2) {
        font-size: 30px;
        font-weight: 300;
        width: 95%;
    }

    .sixth-section .butt {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 0px;
        margin: 0px 10px;
        margin-top: 40px;
        margin-bottom: 100px;
        font-size: 20px;
    }

    .sixth-section .butt button {
        padding: 20px 150px;
        width: 100%;
    }


    .footer,
    .footer #iii,
    .okay-foot,
    .footer-marg,
    .footer-social {
        display: none !important;
    }

    .idk {
        display: block;
        align-items: center;
        justify-items: center;
        margin: 0px auto;
        /* background-color: aqua; */
    }

    .idk img {
        height: 40px;
        margin: 20px auto;
    }

    .idk-social img {
        height: 30px;
        padding: 5px;
    }

    .idk .cvb {
        padding: 20px auto;
        text-align: center;
    }
}

@media (min-width:781px) {
    .idk {
        display: none;
    }

    .footere {
        display: none !important;
    }
}
